/*common*/
html,body{ margin:0; padding:0; width:100%; }
a{ 
    color:inherit; 
    text-decoration:none; 
    /*&:link{  }
    &:visited{  }
    &:hover{  }
    &:active{  }*/
    &:focus{ outline:none; }
}

input:focus{ outline: none;}

*{ 
    box-sizing:border-box; 
    color:#2f415f; 
    font-family: 'NanumBarunGothic'; 
    -webkit-tap-highlight-color : transparent;
    word-break: keep-all;
}

@mixin contentTitle {
    font-size: 20px;
    font-weight: 600;
}
/*nav*/
.searchwrapper{
    display:flex;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    height:50px;
    white-space:nowrap;
    justify-content: space-between;
}

.logobox{
    padding: 10px;
    display:flex;
    height:100%;
    align-items: center;
    align-content: center;    
    justify-content: center;
    img{
        height:100%;
        width:auto;

    }
}

.searchbox{
    padding: 8px;
    position: relative;
    width:100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 100%;
    z-index: 1000;
    border-radius: 3px;
    overflow: hidden;

    input{
        padding: 5px 10px;
        border:1px solid #efefef;
        border-radius: 10px;
        height:100%;
        width:100%;
    }

    img{
        position: absolute;
        top:50%;
        right:10px;
        transform: translate(0,-70%);
        height:38%;
        margin:5px;
    }
}

.loginbox{
    margin:auto 0;
    font-size:14px;
    padding: 0 10px;
}

/*nav탭바*/
.navWrapper{
    display:inline-block;
    width:100%;
    height:50px;
    text-align:center;
    position: relative;
    z-index:1000;
}

.navUl{
    display:flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    width:100%;
    height:100%;
    max-width: 1200px;
}

.navLi{
    height:100%;
    padding:0 20px;
    cursor: pointer;
}

.navTextWrapper{
    display:inline-block;
    height:100%;
    margin:auto 0;
    padding:15px 0;
    &:hover {
        border-bottom: 3px solid #2f415f;
    }
}

/*subject*/
.mainBannerWrapper{
    width:100%;
    max-width:1200px;
    height:320px;
    position:relative;
    display:flex;
    justify-content: flex-start;
    flex:auto;
    background: #2f415f;
    padding:20px;
}

.mainBannerTextBox{
    height: 100%;
    width:30%;

    *{
        color:#fff;
        font-family: 'MapoFlowerIsland'; 
        font-weight: 100;
        font-size: 16px;
        word-break: keep-all;
        letter-spacing: 2px;
    }

    h1{
        font-family: 'Recipekorea';
        font-weight: 600;
        font-size: 32px;
    }
}

.mainBannerImgBox{
    display: inline-block;
    height: 100%;
    width:calc(70% - 10px);
    margin-left:10px;
    overflow: hidden;
    position:relative;
}

.mainBannerImg{
    position:absolute;
    left:100%;
    width:100%;
    height: auto;
    vertical-align: middle;
}

.onBoard{
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

/*Content*/
.contentWrapper{
    width: 100%;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    padding-top:30px;
    padding-bottom:0px;
    h2{
        @include contentTitle;
    }
}

.currStateTitle{
    @include contentTitle;
    padding-bottom:10px;
}

.currStateWrapper{
    display: flex;
    justify-content: space-around;
    position:relative;

    &::before{
        content:'';
        position:absolute;
        top:30%;
        left:12%;
        width:80%;
        height:1px;
        border-top:1px solid #ffc107;
    }

}

.currState{
    position:relative;
    padding:10px;
    padding-top:40px;
    text-align:center;

    &::before{
        content:'';
        position:absolute;
        top:20%;
        left:50%;
        transform: translate(-50%,0);
        width:10px;
        height:10px;
        border:3px solid #ffc107;
        background:#fff;
        border-radius: 100%;
    }
}

.lightOn{
    &::before{
        background:#fdf899;
    }
}

.srcHierachy{
    display:inline-block;
    width:100%;
    max-width:500px;
    border:1px solid #f1f1f1;
    padding:20px;
    border-radius: 10px;

    ul{
        padding-left:20px;
        margin-left:10px;
        margin-bottom:20px;
    }
    .folder{
        color:#ffc107; 
        font-size: 16px;
        font-weight: 600;
    }
    .folder ul{
        border-left: 1px solid;
    }

    li{ 
        list-style: none;
        color:#4d4d4d; 
        font-size:14px;
        font-weight: 400;
        margin-left:0;
        padding-left:0;
    }


}

@media screen and (max-width:760px){
    *{font-size:0.98em;}
    .loginbox{
        font-size:0.8em;
    }
    .navUl{ justify-content: space-around;}
    .navLi{ padding:0;}
    .mainBannerWrapper{flex-direction: column;}
    .mainBannerTextBox{
        width:100%;
        p{display:none;}
    }
    .mainBannerImgBox{width:100%; margin:0;}
    .currStateTitle{
        font-size:1.2em;
    }
    .currState {
        font-size:0.8em;
    }
}

@font-face { 
    font-family: 'Recipekorea'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
}

@font-face { 
    font-family: 'MapoPeacefull'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); 
}

@font-face { 
    font-family: 'InkLipquid'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
}

@font-face { 
    font-family: '777Newyorkers'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Newyorkers.woff') format('woff'); 
}

@font-face { 
    font-family: 'NanumBarunGothic'; 
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); 
} 

@font-face { 
    font-family: 'MapoFlowerIsland'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); 
}